exportPattern("^[[:alpha:]]+")
export('cartodb')
export('cartodb.df')
export('cartodb.collection')
export('cartodb.row.insert')
export('cartodb.row.update')
export('cartodb.row.get')
export('cartodb.tiles.base')
export('cartodb.tiles.tile')
export('cartodb.maps.base')
export('cartodb.maps.link')
export('cartodb.sql.base')
export('cartodb.sql.fromParams')
export('cartodb.spatial.dm')